# JetBrains IDE files
.idea/

# CLion build directories
cmake-build-debug/
cmake-build-release/

# Vendor submodules (Only keep CMakeLists and README files)
vendor/**
!vendor/CMakeLists.txt
!vendor/README.md